/* footer body */
.footer {
    background-color: #e4e4e4;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;

    /* Footer menu nav */
    .footer__nav {
        margin: 15px;

        /* Footer menu nav link*/
        & .fnav__a {
            text-decoration: none;
            color: black;
        }
    }
    /* Footer language */
    .footer__lang {
        margin: 15px;

        /* Footer language button */
        & button {
            padding: 5px;
            font-size: 17px;
            background-color: #deb88700;
            border: solid 2px $color_white;
            cursor: pointer;
            margin-left: 15px;
            
            /* Footer language button hover */
            &:hover {
                background: #468df8;
                color: #fff;
            }
        }
    }
    /* footer section */
    .footer__section {
        display: inline-block;
        margin: 15px;

        .iconTwitter {
            text-decoration: none; 
            color: cornflowerblue; 
            font-size: 26px;
        }
        .iconFacebook {
            text-decoration: none; 
            color: darkblue; 
            font-size: 26px;
        }
    }
}