/**
* MIXIN..............Mixins que pueden acceder toda la aplicación
* ALL APPLICATION ...Css que afecta a toda la aplicación y varibles globales de scss y :root.
* HEADER ............Sección del header, donde se encuentra el nav.
* MAIN ..............Sección del Main, donde estan textos como cookies, nosotros.
* CONTACT ...........Sección del Contcato, donde esta el formulario y el Maps.
* TARIFFS ...........Sección de las Tarifas, se pintar las distintas tarifas, con unas titulo,subtarifas,y botones al final.
* CATALOGUE .........Sección del Catalogo, donde esta las familias, los filtros y los articulos.
* COOKIES, NOSOTROS..Sección de Cookies y Nosotros donde se encuentran los textos.
* IMPORT FOOTER .....Sección del footer, donde se encuentra un nav, cambiar el lenguaje y redes sociales.
* FONT-FACE..........Sección donde se declaran los font-face
* KEYFRAMES..........Sección donde se declaran los keyframes.
* MEDIA .............Sección de las Media Query.
*/

/*------------------------------------*\
    MIXIN
\*------------------------------------*/

/* Mixin color */
@mixin color($color, $b-color: initial) {
    color: $color;
    background-color: $b-color;
}

/* Mixin transition */
@mixin transition($property, $duration, $timing: linear) {
    -webkit-transition: $property $duration $timing;
    -moz-transition: $property $duration $timing;
    transition: $property $duration $timing;
}

/* Mixin animation */
@mixin animation($name, $duration, $timing: linear) {
    -webkit-animation: $name $duration $timing;
    -moz-animation: $name $duration $timing;
    animation: $name $duration $timing;
}

/* Mixin box-sizing */
@mixin box-sizing($box: border-box) {
    -webkit-box-sizing: $box;
    -moz-box-sizing: $box;
    box-sizing: $box;
}
/*------------------------------------*\
    ALL APPLICATION
\*------------------------------------*/

/* Varibles scss */
$color_white: white;
$font_roboto: roboto;
$shadow_color: rgb(206, 206, 206);

/* Root varibles */
:root {
    --mail__icon: url('../img/mailicon.png');
    --select: gold;
    --size: 9deg;
}

/* Set margin and padding to all application */
* {
    margin: 0px;
    padding: 0px;
}
/* Show message warning */
.warning {
    @include color($color_white, #FFCA28);
    border: 2px solid #dc8607;
    font-size: 20px;
    padding: 5px;
    margin: 10px;;
}

i {
    font-style: normal;
}

/* Global title */
.GlobalTitle {
    font-family: $font_roboto;
    font-size: 50px;
    margin-top: 40px;
    margin-bottom: 30px;
    font-weight: 100;
    text-align: center;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/

/* icon of the header */
.header__icon {
    width: 142px;
}
/* Nav menu */
.nav {
    visibility: visible;

    /* Nav menu list */
    .nav__ul {
        list-style-type: none;
        overflow: hidden;
        background-color: #4a9df5;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
        
        /* Nav menu list */
        .nav__li {
            display: flex;
            align-items: center;

            /* Nav menu link */
            .nav__a {
                display: block;
                @include color($color_white);
                font-weight: bold;
                padding: 12px 13px;
                text-decoration: none;

                /* Nav menu link hover */
                &:hover {
                    background-color: #1c84f3;
                }
            }
        }
    }
}
/* Vertical menu */
.vertical__arrow {
    padding-left: 20px;
    position: fixed;
    z-index: 99;
    font-size: 45px;
    cursor: pointer;
    color: blue;
}
/* Vertical menu nav */
#vertical__nav {
    width: 200px; 
    position: fixed;
    height: 100%;
    overflow: scroll;
    z-index: 100; 
    background-color: #4a9df5; 
    visibility:hidden;

    /* Vertical menu nav list */
    .vertical__nav__li{
        display: block;
        padding: 12px;

        /* Vertical menu nav link */
        .vertical__nav__a{
            cursor: pointer;
            color: $color_white;
            text-decoration: none;
        }
    }
}
/* Toggled State */
#menu-1:checked ~ #vertical__nav {
    visibility:visible;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* Body content */
.bodyContent {
    margin-bottom: 30px;
}
/* Container of the body */
.containerContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
    /* Section body */
    .sectionBody {
        width: 450px;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 35px;
        margin-bottom: 10px;
        text-align: center;
        font-family: $font_roboto;
        /* Section body h3*/
        .sectionBody__h3, .sectionBody__h3{
            font-size: 45px;
            margin-bottom: 30px;
            font-family: $font_roboto;
            font-weight: 200;
            text-shadow: 10px 10px 3px $shadow_color;
        }

        /* Section body p*/
        .sectionBody__section {
            font-size: 16px;
            margin-bottom: 15px;
            text-align: left;
        }
    }
}

/* JUMBOTRON(Carousel) */
.jumbotron {
    position: relative;
    margin: auto;

    /* Jumbotron slider */
    .slide {
        height: 400px;

        /* Jumbotron slider pager */
        .slide__pager {
            position: absolute;
            margin: 13px;
            color: $color_white;
            font-size: 18px;
            cursor: default;
        }
        /* Jumbotron slider image svg */
        .slide__image {
            position: absolute;
            left: 40%;
            top: 130px;
            padding: 10px;
            border: 2px solid #afafaf;
            @include animation(slide, 1s)
        }
        /* Jumbotron slider text */
        .slide__text {
            color: #f2f2f2;
            font-size: 24px;
            padding: 8px 12px;
            position: absolute;
            left: 12%;
            bottom: 100px;
            width: 75%;
        }
    }

    /* Jumbotron arrow prev and next*/
    .jumbotron__prev, .jumbotron__next {
        cursor: pointer;
        position: absolute;
        top: 50%;
        width: auto;
        padding: 16px;
        margin-top: -22px;
        color: $color_white;
        font-weight: bold;
        font-size: 18px;
        @include transition(background-color,  0.6s, ease);
        border-radius: 0 3px 3px 0;

        /* jumbotron arrow prev and next hover*/
        &:hover {
            background-color: rgba(0,0,0,0.8);
        }
    }
    
    /* jumbotron arrow next */
    .jumbotron__next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }


    /* Jumbotron Dot */
    .jumbotronDot {
        position: relative;
        text-align: center;
        bottom: 40px;

        /* Dot */
        .dot{
            cursor: pointer;
            height: 15px;
            width: 15px;
            margin: 0 2px;
            background-color: #bbb;
            border-radius: 50%;
            display: inline-block;
            @include transition(background-color,  0.6s, ease);

            /* jumbotron dot activate and hover */
            &:hover {
                background-color: #717171;
            }
        }
    }

    /* jumbotron slider play */
    .fa-play {
        position: absolute;
        right: 59px;
        top: 5px;
        font-size: 21px;
    }
}

/* Section data */
.sectionData {
    font-family: 'indie';

    /* Selectores de atributo */
    a[href*="mailto:"]{
        background-image: var(--mail__icon);
        padding-left: 30px;
        background-repeat: no-repeat;
        text-decoration: none;
        margin-bottom: 10px;
    }

    /* Target of section data*/
    a:target {
        background-color: var(--select);
    }
}


/*------------------------------------*\
    CONTACT
\*------------------------------------*/

/* Contact content */
.contactContent {
    margin-bottom: 40px; 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

    /* Contact form */
    .contactForm { 
        width: 42%;
        margin: 18px;
        font-size: 16px;
        @include box-sizing();

        /* Contact form input */
        .contactForm__input {
            width: 100%;
            padding: 5px 10px;
            margin-bottom: 15px;
            border: 1px solid #e8e8e8;
            @include box-sizing();
        }
        /* Contact for textarea */
        .contactForm__textarea {
            width: 100%;
            height: 200px;
            padding: 5px 10px;
            margin-top: 15px;
            margin-bottom: 15px;
            resize: vertical;
            border: 1px solid #e8e8e8;
            @include box-sizing();
        }
        /* Contact form button */
        .contactForm__button {
            @include color($color_white);
            font-weight: bold;
            background: #468df8;
            border: 0px;
            border-radius: 5px 5px 5px 5px;
            padding: 10px;
        }
        .contactForm__fieldset {
            padding: 20px;
        }
    }

    /* Contact google maps */
    .map {
        width: 49%;
        margin: 18px;
        min-height: 450px;;
        display: flex;
        vertical-align: top;
        background-image: url(https://elandroidelibre.elespanol.com/wp-content/uploads/2015/12/rutas-google-maps.jpg); 
        background-size: cover; 
        background-repeat: no-repeat; 
        border-width: 5px; 
        border-style: dotted; 
        background-clip: content-box;
        @include box-sizing();
    }

    /* Contact info ubicatio of the company */
    .contactContent__infoUbi {
        text-align: right;
        width: 100%;
    }
}

/*------------------------------------*\
    TARIFFS
\*------------------------------------*/

/* Container tariffs */
.containerTariffs {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;

    /* Tariffs section */
    .tariffsSection {
        width: 300px;
        margin-right: 25px;
        margin-left: 25px;
        margin-top: 25px;
        margin-bottom: 25px;
        text-align: center;
        color: $color_white;
        border: 1px solid #cecece;
        font-family: sans-serif;
        box-shadow: 3px 3px 7px 1px $shadow_color;

        /* Tariffs header section */
        .headerSection {
            background-color: gray;
            display: flex;
            height: 65px;
            justify-content: center;
            align-items: center;

            /* Tarrifs header section image */
            .headerSection__image {
                width: 35px;
                margin-right: 12px;
            }
        }
        /* Tariffs body section */
        .bodySection {
            background-color: blue;
            padding: 15px;
            /* Tariffs body section label */
            .bodySection__section {
                font-family: $font_roboto;
                font-size: 35px;
                font-weight: 400;
                @include transition(font-size, 1s);
                &:hover {
                    font-size: 45px;
                    text-shadow: 7px 7px 3px $shadow_color;
                }
            }
        }
        /* Tariffs subtariffs */
        .bodySubTariffs {
            display: flex;
            flex-direction: column;
            justify-content: center;
            min-height: 380px;
            color: black;

            /* Tariffs subtariffs section */
            .bodySubTariffs__section{
                flex: 1;
                border-bottom: 1px solid #c7c7c7;
                display: flex;
                flex-direction: column;
                justify-content: center;
                
                /* Tariffs subtariffs section icon */
                & i{
                    font-size: 33px;
                    margin-bottom: 7px;
                }
            }
        }
        /* Tariffs footer section */
        .footerSection {
            display: flex;
            
            /* Tariffs footer section button */
            .footerSection__button {
                width: 150px;
                padding: 15px;
                border: 0.25px solid blue;
                background-color: inherit;
                text-transform: uppercase;
            }
        }
    }
}

/* Rotate tariff 1*/
.tariff1 {
    transform: rotateZ(var(--size));
}
/* Rotate tariff 2*/
.tariff2 {
    @include animation(tariff, 3s);
}
/* Rotate tariff 3*/
.tariff3 {
    transform: skewX(var(--size));
}

/*------------------------------------*\
    CATALOGUE
\*------------------------------------*/


/* Catalogue family article */
.family__article {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 25px;

    /* Catalogue family section */
    .family__section {
        display: flex;
        align-items: center;
        padding: 10px;
        margin: 10px;
    }
}
/* Catalogue filter article */
.filter__article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    margin: 15px;

    /* Catalogue filter section */
    .filter__section {
       padding: 10px; 
       font-weight: bold;
       margin-bottom: 10px; 

       /* Catalogue filter select */
       .filter__select {
           width: 100%;
           padding: 3px;
           margin-top: 6px;
           margin-bottom: 10px;
           font-size: 14px;
           border: 2px solid #0052a7fc;
           color: $color_white;
           background-color: #468df8;
       }
    }
}
/* Catalogue body article */
.catalogue__article {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 20px;

    /* Catalogue body section */
    .catalogue__section {
        text-align: center;

        /* Catalogue body image */
        .catalogue__img {
            width: 100%;
        }
        /* Catalogue body h2 */
        .catalogue__h2 {
            margin: 15px;
        }
        /* Catalogue body h3 */
        .catalogue__h3 {
            margin: 5px;
            color: #000000ab;
        }
    }
}
/* Catalogue body error */
.error__catalogue {
    color: $color_white;
    font-weight: bold;
    padding: 7px;
    background-color: #d84848;
    border: solid 2px #840707;
}

/*------------------------------------*\
    COOKIES, NOSOTROS
\*------------------------------------*/

/* Article main  */
.articleMain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    /* Article main title */
    .articleMain__title {
        width: 100%;
        margin: 50px;
        text-align: center;
        font-size: 50px;
    }
    /* Article main section */
    .articleMain__section {
        width: 500px;
        margin: 10px;
        font-family: 'indie__bold';

        /* Article main section p */
        & p{
            text-align: left;
        }
        .cookiesImage1 {
            width:100%; 
            clip-path: inset(30px 30px 30px 30px round 15px);
        }
        .cookiesImage2 {
            width:100%; 
            mask: url(../img/wicofi.svg) no-repeat 35px 49px/ 425px 200px;
        }
    }

}

/*------------------------------------*\
    IMPORT FOOTER
\*------------------------------------*/

@import 'footer.scss';

/*------------------------------------*\
    FONT-FACE
\*------------------------------------*/

/* Font-face Indie Flower */
@font-face {
    font-family: indie;
    src: url(../fonts/IndieFlower.ttf);
}
/* Font-face Indie Flower Bold */
@font-face {
    font-family: indie__bold;
    src: url(../fonts/IndieFlower.ttf);
    font-weight: bold;
}
/* Font-face Roboto Slab */
@font-face {
    font-family: roboto;
    src: url(../fonts/RobotoSlab-Regular.ttf);
}
/* Font-face Roboto Slab Bold */
@font-face {
    font-family: roboto-bold;
    src: url(../fonts/RobotoSlab-Bold.ttf);
}

/*------------------------------------*\
    KEYFRAMES
\*------------------------------------*/

/* Keyframe slide image svg */
@keyframes slide {
    from {
        left: 0%;
        transform: rotate(360deg);
        border:none;
    }
    to {
        left: 40%;
        transform: rotate(0deg);
        border: 2px solid #afafaf;
    }
}

/* Keyframe change color tarifas */
@keyframes tariff {
      0%   {background-color: $color_white;}
      10%  {background-color: #cccccc;}
      20%   {background-color: #9a9a9a;}
      30%  {background-color: #777777;}
      40%  {background-color: #4e4e4e;}
      50%  {background-color: #0e0e0e;}
      60%  {background-color: #4e4e4e;}
      70%  {background-color: #777777;}
      80%   {background-color: #9a9a9a;}
      90%  {background-color: #cccccc;}
      100% {background-color: $color_white;}
}

/*------------------------------------*\
    MEDIA
\*------------------------------------*/

/* Hide and show menu, 800px */
@media ( min-width: 800px ){
    .nav {
        visibility: visible;
    }
    .vertical__arrow {
        visibility: hidden !important;
    }
    .vertical__nav {
        visibility: hidden !important;
    }
}

/* Resize 900px */
@media ( max-width: 900px ){
    .catalogue__article {
        grid-template-columns: 1fr 1fr;
        margin: 0px;
    }
    .filter__article {
        grid-template-columns:1fr 1fr 1fr;

    }
    .articleMain {
        .articleMain__section {
            width: 400px;
        }
    }
    .contactContent {
        .contactForm {
            width: 90%;
        }
        .map {
            width: 87%;
        }
    }
}

/* Hide and show menu, and resize form in 800px*/
@media ( max-width: 800px ){
    .nav {
        visibility: hidden;
    }
    .vertical__arrow {
        visibility: visible;
    }
}

/* Resize 600px */
@media ( max-width: 600px ){
    .catalogue__article {
        grid-template-columns: 1fr;
        margin: 0px;
    }
    .filter__article {
        grid-template-columns:1fr 1fr;

    }
    .footer {
        grid-template-columns: 1fr 1fr;
    }
    .articleMain { 
        .articleMain__section {
            width: 350px;
        }
    }
    .jumbotron {
        .slide {
            .slide__image {
                left: 23%;
            }
            .slide__text {
                font-size: 18px;
            }
        }
    }
}

/* Resize 400px */
@media ( max-width: 425px ){
    .jumbotron {
        .slide {
            .slide__image {
                left: 10%;
            }
            .slide__text {
                display: none;
            }
        }
    }
    .tariff1 {
        transform: none;
    }
    .tariff3 {
        transform: none;
    }
    .articleMain {
        .articleMain__section {
            margin: 0px;
            margin-top: 20px;
            width: 280px;
        }
    }
}

@media print {
    header, .footer, nav, .GlobalTitle {
        display: none;
    }
    @page {
        size: 4.5in 7.2in;
    }
    .tariff1 {
        transform: none;
    }
    .tariff3 {
        transform: none;
    }
}



