@charset "UTF-8";
/**
* MIXIN..............Mixins que pueden acceder toda la aplicación
* ALL APPLICATION ...Css que afecta a toda la aplicación y varibles globales de scss y :root.
* HEADER ............Sección del header, donde se encuentra el nav.
* MAIN ..............Sección del Main, donde estan textos como cookies, nosotros.
* CONTACT ...........Sección del Contcato, donde esta el formulario y el Maps.
* TARIFFS ...........Sección de las Tarifas, se pintar las distintas tarifas, con unas titulo,subtarifas,y botones al final.
* CATALOGUE .........Sección del Catalogo, donde esta las familias, los filtros y los articulos.
* COOKIES, NOSOTROS..Sección de Cookies y Nosotros donde se encuentran los textos.
* IMPORT FOOTER .....Sección del footer, donde se encuentra un nav, cambiar el lenguaje y redes sociales.
* FONT-FACE..........Sección donde se declaran los font-face
* KEYFRAMES..........Sección donde se declaran los keyframes.
* MEDIA .............Sección de las Media Query.
*/
/*------------------------------------*\
    MIXIN
\*------------------------------------*/
/* Mixin color */
/* Mixin transition */
/* Mixin animation */
/* Mixin box-sizing */
/*------------------------------------*\
    ALL APPLICATION
\*------------------------------------*/
/* Varibles scss */
/* Root varibles */
:root {
  --mail__icon: url('../img/mailicon.png');
  --select: gold;
  --size: 9deg;
}

/* Set margin and padding to all application */
* {
  margin: 0px;
  padding: 0px;
}

/* Show message warning */
.warning {
  color: white;
  background-color: #FFCA28;
  border: 2px solid #dc8607;
  font-size: 20px;
  padding: 5px;
  margin: 10px;
}

i {
  font-style: normal;
}

/* Global title */
.GlobalTitle {
  font-family: roboto;
  font-size: 50px;
  margin-top: 40px;
  margin-bottom: 30px;
  font-weight: 100;
  text-align: center;
}

/*------------------------------------*\
    HEADER
\*------------------------------------*/
/* icon of the header */
.header__icon {
  width: 142px;
}

/* Nav menu */
.nav {
  visibility: visible;
  /* Nav menu list */
}

.nav .nav__ul {
  list-style-type: none;
  overflow: hidden;
  background-color: #4a9df5;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 3fr 1fr 1fr 1fr;
  /* Nav menu list */
}

.nav .nav__ul .nav__li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Nav menu link */
}

.nav .nav__ul .nav__li .nav__a {
  display: block;
  color: white;
  background-color: initial;
  font-weight: bold;
  padding: 12px 13px;
  text-decoration: none;
  /* Nav menu link hover */
}

.nav .nav__ul .nav__li .nav__a:hover {
  background-color: #1c84f3;
}

/* Vertical menu */
.vertical__arrow {
  padding-left: 20px;
  position: fixed;
  z-index: 99;
  font-size: 45px;
  cursor: pointer;
  color: blue;
}

/* Vertical menu nav */
#vertical__nav {
  width: 200px;
  position: fixed;
  height: 100%;
  overflow: scroll;
  z-index: 100;
  background-color: #4a9df5;
  visibility: hidden;
  /* Vertical menu nav list */
}

#vertical__nav .vertical__nav__li {
  display: block;
  padding: 12px;
  /* Vertical menu nav link */
}

#vertical__nav .vertical__nav__li .vertical__nav__a {
  cursor: pointer;
  color: white;
  text-decoration: none;
}

/* Toggled State */
#menu-1:checked ~ #vertical__nav {
  visibility: visible;
}

/*------------------------------------*\
    MAIN
\*------------------------------------*/
/* Body content */
.bodyContent {
  margin-bottom: 30px;
}

/* Container of the body */
.containerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Section body */
}

.containerContent .sectionBody {
  width: 450px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 35px;
  margin-bottom: 10px;
  text-align: center;
  font-family: roboto;
  /* Section body h3*/
  /* Section body p*/
}

.containerContent .sectionBody .sectionBody__h3, .containerContent .sectionBody .sectionBody__h3 {
  font-size: 45px;
  margin-bottom: 30px;
  font-family: roboto;
  font-weight: 200;
  text-shadow: 10px 10px 3px #cecece;
}

.containerContent .sectionBody .sectionBody__section {
  font-size: 16px;
  margin-bottom: 15px;
  text-align: left;
}

/* JUMBOTRON(Carousel) */
.jumbotron {
  position: relative;
  margin: auto;
  /* Jumbotron slider */
  /* Jumbotron arrow prev and next*/
  /* jumbotron arrow next */
  /* Jumbotron Dot */
  /* jumbotron slider play */
}

.jumbotron .slide {
  height: 400px;
  /* Jumbotron slider pager */
  /* Jumbotron slider image svg */
  /* Jumbotron slider text */
}

.jumbotron .slide .slide__pager {
  position: absolute;
  margin: 13px;
  color: white;
  font-size: 18px;
  cursor: default;
}

.jumbotron .slide .slide__image {
  position: absolute;
  left: 40%;
  top: 130px;
  padding: 10px;
  border: 2px solid #afafaf;
  -webkit-animation: slide 1s linear;
  animation: slide 1s linear;
}

.jumbotron .slide .slide__text {
  color: #f2f2f2;
  font-size: 24px;
  padding: 8px 12px;
  position: absolute;
  left: 12%;
  bottom: 100px;
  width: 75%;
}

.jumbotron .jumbotron__prev, .jumbotron .jumbotron__next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  border-radius: 0 3px 3px 0;
  /* jumbotron arrow prev and next hover*/
}

.jumbotron .jumbotron__prev:hover, .jumbotron .jumbotron__next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.jumbotron .jumbotron__next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.jumbotron .jumbotronDot {
  position: relative;
  text-align: center;
  bottom: 40px;
  /* Dot */
}

.jumbotron .jumbotronDot .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  -webkit-transition: background-color 0.6s ease;
  transition: background-color 0.6s ease;
  /* jumbotron dot activate and hover */
}

.jumbotron .jumbotronDot .dot:hover {
  background-color: #717171;
}

.jumbotron .fa-play {
  position: absolute;
  right: 59px;
  top: 5px;
  font-size: 21px;
}

/* Section data */
.sectionData {
  font-family: 'indie';
  /* Selectores de atributo */
  /* Target of section data*/
}

.sectionData a[href*="mailto:"] {
  background-image: var(--mail__icon);
  padding-left: 30px;
  background-repeat: no-repeat;
  text-decoration: none;
  margin-bottom: 10px;
}

.sectionData a:target {
  background-color: var(--select);
}

/*------------------------------------*\
    CONTACT
\*------------------------------------*/
/* Contact content */
.contactContent {
  margin-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Contact form */
  /* Contact google maps */
  /* Contact info ubicatio of the company */
}

.contactContent .contactForm {
  width: 42%;
  margin: 18px;
  font-size: 16px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* Contact form input */
  /* Contact for textarea */
  /* Contact form button */
}

.contactContent .contactForm .contactForm__input {
  width: 100%;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contactContent .contactForm .contactForm__textarea {
  width: 100%;
  height: 200px;
  padding: 5px 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  resize: vertical;
  border: 1px solid #e8e8e8;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contactContent .contactForm .contactForm__button {
  color: white;
  background-color: initial;
  font-weight: bold;
  background: #468df8;
  border: 0px;
  border-radius: 5px 5px 5px 5px;
  padding: 10px;
}

.contactContent .contactForm .contactForm__fieldset {
  padding: 20px;
}

.contactContent .map {
  width: 49%;
  margin: 18px;
  min-height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  vertical-align: top;
  background-image: url(https://elandroidelibre.elespanol.com/wp-content/uploads/2015/12/rutas-google-maps.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  border-width: 5px;
  border-style: dotted;
  background-clip: content-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.contactContent .contactContent__infoUbi {
  text-align: right;
  width: 100%;
}

/*------------------------------------*\
    TARIFFS
\*------------------------------------*/
/* Container tariffs */
.containerTariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Tariffs section */
}

.containerTariffs .tariffsSection {
  width: 300px;
  margin-right: 25px;
  margin-left: 25px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  color: white;
  border: 1px solid #cecece;
  font-family: sans-serif;
  -webkit-box-shadow: 3px 3px 7px 1px #cecece;
          box-shadow: 3px 3px 7px 1px #cecece;
  /* Tariffs header section */
  /* Tariffs body section */
  /* Tariffs subtariffs */
  /* Tariffs footer section */
}

.containerTariffs .tariffsSection .headerSection {
  background-color: gray;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 65px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /* Tarrifs header section image */
}

.containerTariffs .tariffsSection .headerSection .headerSection__image {
  width: 35px;
  margin-right: 12px;
}

.containerTariffs .tariffsSection .bodySection {
  background-color: blue;
  padding: 15px;
  /* Tariffs body section label */
}

.containerTariffs .tariffsSection .bodySection .bodySection__section {
  font-family: roboto;
  font-size: 35px;
  font-weight: 400;
  -webkit-transition: font-size 1s linear;
  transition: font-size 1s linear;
}

.containerTariffs .tariffsSection .bodySection .bodySection__section:hover {
  font-size: 45px;
  text-shadow: 7px 7px 3px #cecece;
}

.containerTariffs .tariffsSection .bodySubTariffs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 380px;
  color: black;
  /* Tariffs subtariffs section */
}

.containerTariffs .tariffsSection .bodySubTariffs .bodySubTariffs__section {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  border-bottom: 1px solid #c7c7c7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* Tariffs subtariffs section icon */
}

.containerTariffs .tariffsSection .bodySubTariffs .bodySubTariffs__section i {
  font-size: 33px;
  margin-bottom: 7px;
}

.containerTariffs .tariffsSection .footerSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  /* Tariffs footer section button */
}

.containerTariffs .tariffsSection .footerSection .footerSection__button {
  width: 150px;
  padding: 15px;
  border: 0.25px solid blue;
  background-color: inherit;
  text-transform: uppercase;
}

/* Rotate tariff 1*/
.tariff1 {
  -webkit-transform: rotateZ(var(--size));
          transform: rotateZ(var(--size));
}

/* Rotate tariff 2*/
.tariff2 {
  -webkit-animation: tariff 3s linear;
  animation: tariff 3s linear;
}

/* Rotate tariff 3*/
.tariff3 {
  -webkit-transform: skewX(var(--size));
          transform: skewX(var(--size));
}

/*------------------------------------*\
    CATALOGUE
\*------------------------------------*/
/* Catalogue family article */
.family__article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 25px;
  /* Catalogue family section */
}

.family__article .family__section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  margin: 10px;
}

/* Catalogue filter article */
.filter__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 15px;
  /* Catalogue filter section */
}

.filter__article .filter__section {
  padding: 10px;
  font-weight: bold;
  margin-bottom: 10px;
  /* Catalogue filter select */
}

.filter__article .filter__section .filter__select {
  width: 100%;
  padding: 3px;
  margin-top: 6px;
  margin-bottom: 10px;
  font-size: 14px;
  border: 2px solid #0052a7fc;
  color: white;
  background-color: #468df8;
}

/* Catalogue body article */
.catalogue__article {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin: 20px;
  /* Catalogue body section */
}

.catalogue__article .catalogue__section {
  text-align: center;
  /* Catalogue body image */
  /* Catalogue body h2 */
  /* Catalogue body h3 */
}

.catalogue__article .catalogue__section .catalogue__img {
  width: 100%;
}

.catalogue__article .catalogue__section .catalogue__h2 {
  margin: 15px;
}

.catalogue__article .catalogue__section .catalogue__h3 {
  margin: 5px;
  color: #000000ab;
}

/* Catalogue body error */
.error__catalogue {
  color: white;
  font-weight: bold;
  padding: 7px;
  background-color: #d84848;
  border: solid 2px #840707;
}

/*------------------------------------*\
    COOKIES, NOSOTROS
\*------------------------------------*/
/* Article main  */
.articleMain {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  /* Article main title */
  /* Article main section */
}

.articleMain .articleMain__title {
  width: 100%;
  margin: 50px;
  text-align: center;
  font-size: 50px;
}

.articleMain .articleMain__section {
  width: 500px;
  margin: 10px;
  font-family: 'indie__bold';
  /* Article main section p */
}

.articleMain .articleMain__section p {
  text-align: left;
}

.articleMain .articleMain__section .cookiesImage1 {
  width: 100%;
  -webkit-clip-path: inset(30px 30px 30px 30px round 15px);
          clip-path: inset(30px 30px 30px 30px round 15px);
}

.articleMain .articleMain__section .cookiesImage2 {
  width: 100%;
  -webkit-mask: url(../img/wicofi.svg) no-repeat 35px 49px/425px 200px;
          mask: url(../img/wicofi.svg) no-repeat 35px 49px/425px 200px;
}

/*------------------------------------*\
    IMPORT FOOTER
\*------------------------------------*/
/* footer body */
.footer {
  background-color: #e4e4e4;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  /* Footer menu nav */
  /* Footer language */
  /* footer section */
}

.footer .footer__nav {
  margin: 15px;
  /* Footer menu nav link*/
}

.footer .footer__nav .fnav__a {
  text-decoration: none;
  color: black;
}

.footer .footer__lang {
  margin: 15px;
  /* Footer language button */
}

.footer .footer__lang button {
  padding: 5px;
  font-size: 17px;
  background-color: #deb88700;
  border: solid 2px white;
  cursor: pointer;
  margin-left: 15px;
  /* Footer language button hover */
}

.footer .footer__lang button:hover {
  background: #468df8;
  color: #fff;
}

.footer .footer__section {
  display: inline-block;
  margin: 15px;
}

.footer .footer__section .iconTwitter {
  text-decoration: none;
  color: cornflowerblue;
  font-size: 26px;
}

.footer .footer__section .iconFacebook {
  text-decoration: none;
  color: darkblue;
  font-size: 26px;
}

/*------------------------------------*\
    FONT-FACE
\*------------------------------------*/
/* Font-face Indie Flower */
@font-face {
  font-family: indie;
  src: url(../fonts/IndieFlower.ttf);
}

/* Font-face Indie Flower Bold */
@font-face {
  font-family: indie__bold;
  src: url(../fonts/IndieFlower.ttf);
  font-weight: bold;
}

/* Font-face Roboto Slab */
@font-face {
  font-family: roboto;
  src: url(../fonts/RobotoSlab-Regular.ttf);
}

/* Font-face Roboto Slab Bold */
@font-face {
  font-family: roboto-bold;
  src: url(../fonts/RobotoSlab-Bold.ttf);
}

/*------------------------------------*\
    KEYFRAMES
\*------------------------------------*/
/* Keyframe slide image svg */
@-webkit-keyframes slide {
  from {
    left: 0%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: none;
  }
  to {
    left: 40%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: 2px solid #afafaf;
  }
}
@keyframes slide {
  from {
    left: 0%;
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
    border: none;
  }
  to {
    left: 40%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    border: 2px solid #afafaf;
  }
}

/* Keyframe change color tarifas */
@-webkit-keyframes tariff {
  0% {
    background-color: white;
  }
  10% {
    background-color: #cccccc;
  }
  20% {
    background-color: #9a9a9a;
  }
  30% {
    background-color: #777777;
  }
  40% {
    background-color: #4e4e4e;
  }
  50% {
    background-color: #0e0e0e;
  }
  60% {
    background-color: #4e4e4e;
  }
  70% {
    background-color: #777777;
  }
  80% {
    background-color: #9a9a9a;
  }
  90% {
    background-color: #cccccc;
  }
  100% {
    background-color: white;
  }
}
@keyframes tariff {
  0% {
    background-color: white;
  }
  10% {
    background-color: #cccccc;
  }
  20% {
    background-color: #9a9a9a;
  }
  30% {
    background-color: #777777;
  }
  40% {
    background-color: #4e4e4e;
  }
  50% {
    background-color: #0e0e0e;
  }
  60% {
    background-color: #4e4e4e;
  }
  70% {
    background-color: #777777;
  }
  80% {
    background-color: #9a9a9a;
  }
  90% {
    background-color: #cccccc;
  }
  100% {
    background-color: white;
  }
}

/*------------------------------------*\
    MEDIA
\*------------------------------------*/
/* Hide and show menu, 800px */
@media (min-width: 800px) {
  .nav {
    visibility: visible;
  }
  .vertical__arrow {
    visibility: hidden !important;
  }
  .vertical__nav {
    visibility: hidden !important;
  }
}

/* Resize 900px */
@media (max-width: 900px) {
  .catalogue__article {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    margin: 0px;
  }
  .filter__article {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .articleMain .articleMain__section {
    width: 400px;
  }
  .contactContent .contactForm {
    width: 90%;
  }
  .contactContent .map {
    width: 87%;
  }
}

/* Hide and show menu, and resize form in 800px*/
@media (max-width: 800px) {
  .nav {
    visibility: hidden;
  }
  .vertical__arrow {
    visibility: visible;
  }
}

/* Resize 600px */
@media (max-width: 600px) {
  .catalogue__article {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0px;
  }
  .filter__article {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .footer {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .articleMain .articleMain__section {
    width: 350px;
  }
  .jumbotron .slide .slide__image {
    left: 23%;
  }
  .jumbotron .slide .slide__text {
    font-size: 18px;
  }
}

/* Resize 400px */
@media (max-width: 425px) {
  .jumbotron .slide .slide__image {
    left: 10%;
  }
  .jumbotron .slide .slide__text {
    display: none;
  }
  .tariff1 {
    -webkit-transform: none;
            transform: none;
  }
  .tariff3 {
    -webkit-transform: none;
            transform: none;
  }
  .articleMain .articleMain__section {
    margin: 0px;
    margin-top: 20px;
    width: 280px;
  }
}

@media print {
  header, .footer, nav, .GlobalTitle {
    display: none;
  }
  @page {
    size: 4.5in 7.2in;
  }
  .tariff1 {
    -webkit-transform: none;
            transform: none;
  }
  .tariff3 {
    -webkit-transform: none;
            transform: none;
  }
}
/*# sourceMappingURL=style.css.map */